* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #516d98;
}

/* loading style */
#loading {
  text-align: center;
  font-size: 30px;
  margin-top: 25vh;
  border: solid 2px #b2a9a9;
  margin-left: 25vw;
  margin-right: 25vw;
  border-radius: 10px;

  background-color: white;
}
/* grid style */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
/* article card style */
.card-header {
  border-bottom: solid black 1px;
  color: black;
  text-align: center;
  position: relative;
}
.card-info {
  position: relative;
  bottom: 0px;
}

.article-card {
  width: auto;
  border-radius: 5px;
  padding: 6px;
  margin: 15px;

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.vote-count {
  margin-left: 10px;
}
.vote-button {
  width: 20px;
  height: 20px;
  background-color: purple;
  color: white;
}
/* heading style */
header {
  background-color: white;
  margin-top: 0px;
  margin: 0;
}
#home {
  margin: 0;
  padding-left: 20px;
  color: black;
  text-decoration: none;
}

#title {
  padding-left: 20px;
  font-size: 60px;
  margin: 0;
  color: white;
  background-color: #b2a9a9;
  border-top: black solid 3px;
}
#topic-bar {
  background-color: #b2a9a9;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  border-top: black solid 3px;
  border-bottom: black solid 3px;
}
.clicked-topic-link {
  color: black;
  font-size: 30px;
  width: 30vw;
  text-decoration: none;
}
.topic-links {
  color: white;
  font-size: 30px;
  width: 30vw;
  text-decoration: none;
}
.topic-links:hover {
  color: black;
}
/* article page style */
.article-body {
  border-radius: 5px;
  padding: 6px;
  margin: 15px;
  background-color: white;
}
.comments {
  border-radius: 5px;
  padding: 6px;
  margin: 15px;
  background-color: white;
}
.comment-card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.comment-card {
  padding: 5px;
  margin: 5px;
  border: solid black 2px;
}
.comment-body {
  margin-bottom: 5px;
}
.new-comment-input {
  border: 2px solid black;
  width: 50vw;
}
.comments-heading {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.create-comment-button {
  padding: 5px;
  border: black solid 2px;
}
/* pop-up styling */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: lightblue;
  border-radius: 4px;
  padding: 20px;
  border: 2px solid #999;
  overflow: auto;
  display: flex;
  justify-content: space-around;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
.submit-comment-button {
  border: solid 2px black;
  width: 100px;
}
