@font-face {
  font-family: "texat";
  src: "./fonts/TEXAT BOLD PERSONAL USE___.otf";
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #b3b5a758;
}
.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "header"
    "body";
}

/* loading style */
#loading {
  text-align: center;
  font-size: 30px;
  margin-top: 25vh;
  border: solid 2px black;
  margin-left: 25vw;
  margin-right: 25vw;
  border-radius: 10px;

  background-color: white;
}
/* grid style */

.cards {
  margin: 10px;
  margin-right: 30px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 175px;
}

/* sorting */

.sort-div {
  flex-direction: column;
  display: flex;
  justify-content: right;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
.sort-box {
  border: black 2px solid;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  display: flex;
  margin: 3px;
  justify-content: space-around;
  margin-bottom: -7.5px;
}

.order-button-up {
  border-radius: 5px;
  border: 2px solid black;
  width: 100px;
  padding: 5px;
  margin-left: 5px;
  background-color: #b2a9a94e;
}
.order-button-down {
  border-radius: 5px;
  border: 2px solid black;
  padding: 5px;
  width: 100px;
  margin-left: 5px;
  background-color: #b2a9a94e;
}
.order-button-down:hover {
  background-color: rgb(200, 246, 246);
}
.order-button-up:hover {
  background-color: rgb(200, 246, 246);
}
#topic-dropdown {
  border: solid black 2px;
  border-radius: 5px;
  background-color: #b2a9a94e;
}
#topic-dropdown:hover {
  background-color: rgb(200, 246, 246);
}

/* article card style */
.card-header {
  color: black;
  text-align: center;
  position: relative;
}
.card-info {
  padding: 5px;
  border-top: solid black 2px;
  position: relative;
  bottom: 0px;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.article-card {
  width: auto;
  border-radius: 5px;
  padding: 6px;
  margin: 3px;
  border: black 2px solid;

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.vote-count {
  margin-left: 10px;
}
.vote-button {
  font-weight: bold;
  width: 30px;
  height: 30px;
  background-color: #92dce5;
  color: black;
  border: black solid 2px;
}
.up {
  border-right: 0px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.down {
  border-left: 0px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.vote-button:hover {
  background-color: #92dbe56a;
}
.body-render {
  grid-area: body;
  overflow: scroll;
}
/* heading style */
header {
  text-decoration: none;
  grid-area: header;
  background-color: white;
  margin-top: 0px;
  margin: 0;
  letter-spacing: 0.2rem;
  top: 0;
}

#home {
  font-family: texat;
  font-size: 60px;
  margin: 0;
  padding-left: 37.5px;
  color: black;
  overflow: hidden;
}

#home::after {
  content: "";
  position: absolute;
  top: 1.05em;
  left: 2rem;
  width: 20rem;
  height: 0.1em;
  background-color: #92dce5;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}

#home:hover::after,
#home:focus::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

#topic-bar {
  background-color: #00a9a5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding-left: 37.5px;
  padding-bottom: 3px;
  border-top: black solid 3px;
  border-bottom: black solid 3px;
}
.clicked-topic-link {
  color: black;
  font-size: 30px;
  width: 30vw;
  text-decoration: none;
  letter-spacing: normal;
}
.topic-links {
  color: white;
  font-size: 30px;
  width: 30vw;
  text-decoration: none;
  letter-spacing: normal;
}
.topic-links:hover {
  color: black;
  transition: color 500ms;
}
.topic-links:hover::after,
.topic-links:focus::after {
  color: black;
}
/* article page style */
.article-page {
  display: flex;
  justify-content: center;
}
.article {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}
.article-header {
  margin: 12px;
  margin-bottom: 0px;
}
.article-body {
  border-radius: 5px;
  border: black solid 2px;
  padding: 6px;
  margin: 15px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  background-color: white;
}
.comments {
  border: black solid 2px;

  border-radius: 5px;
  padding: 6px;
  margin: 15px;
  margin-top: 7.5px;
  background-color: white;
}
.comment-card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.comment-card {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: solid black 2px;
}
.comment-body {
  margin-bottom: 5px;
  margin-top: 12px;
}
.new-comment-input {
  border: 2px solid black;
  width: 50vw;
  height: 5rem;
}
.comments-heading {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.create-comment-button {
  padding: 5px;
  border-radius: 5px;
  border: black solid 2px;
}
.create-comment-button:hover {
  background-color: rgb(200, 246, 246);
}
.delete-comment-text {
  text-align: center;
}
.delete-comment-button {
  padding: 5px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 5px;
  border: black solid 2px;
  background-color: lightcoral;
}
.delete-comment-button:hover {
  background-color: rgb(233, 188, 188);
}
.comment-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.yes-no-buttons {
  margin-left: 5vw;
  margin-right: 5vw;
  border: black solid 2px;
  border-radius: 5px;
  width: 8rem;
  padding: 5px;
  background-color: #b2a9a940;
}
.yes-no-buttons:hover {
  background-color: #b2a9a970;
}
.popup-button-div {
  display: flex;
  justify-content: space-around;
}
.delete-comment-text {
  margin: 20px;
}
.delete-popup-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* pop-up styling */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: rgb(204, 231, 240);
  border-radius: 5px;
  padding: 20px;
  border: 3px solid black;
  overflow: auto;
  display: flex;
  justify-content: space-around;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: lightcoral;
  width: 25px;
  height: 25px;

  border-radius: 50%;
  line-height: 15px;
  vertical-align: middle;
  text-align: center;
  border: 2px solid black;
  font-size: 15px;
}
.close-icon:hover {
  background-color: rgb(233, 188, 188);
}
.submit-comment-button {
  border-radius: 5px;
  border: solid 2px black;
  width: 100px;
  margin: 20px;
  margin-bottom: 0px;
  background-color: #b2a9a940;
}
.submit-comment-button:hover {
  background-color: #b2a9a970;
}
.new-comment-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-comment-input {
  border-radius: 5px;
  padding: 5px;
}
@media only screen and (max-width: 350px) {
  .topic-links {
    font-size: 20px;
  }
  .clicked-topic-link {
    font-size: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .App {
    display: block;
  }
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
  }
  .sort-div {
    margin-left: 10px;
    margin-right: 10px;
  }
  .sort-box {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 6px;
  }
  #topic-bar {
    padding-left: 1rem;
    justify-content: space-around;
  }
  #home {
    padding-left: 0px;
    text-align: center;
  }
  .article {
    margin-left: -3px;
    margin-right: -3px;
  }
}
.error {
  margin: 20px;
  padding: 10px;
}
.comment-error {
  color: red;
}
